adf/pipeline/pl_04_report_pbi_main.json
{
	"name": "pl_04_report_pbi_main",
	"properties": {
		"activities": [
			{
				"name": "Set Environment",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_environment",
					"value": {
						"value": "@if(equals(substring(pipeline().DataFactory, sub(lastIndexOf(pipeline().DataFactory, 'adf01'), 1), 1), 'd'), 'DEV'\n, if(equals(substring(pipeline().DataFactory, sub(lastIndexOf(pipeline().DataFactory, 'adf01'), 1), 1), 'u'), 'UAT'\n, if(equals(substring(pipeline().DataFactory, sub(lastIndexOf(pipeline().DataFactory, 'adf01'), 1), 1), 'p'), 'PROD', '')))\n \n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "List of PBI datasets to refresh",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set Environment",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT [DatasetRefreshId]\n      ,[Environment]\n      ,[RefreshType]\n      ,[DatasetDescription]\n      ,[WorkspaceGUID]\n      ,[DatasetGUID]\n      ,[Enabled]\n  FROM [cfg].[DatasetRefresh]\n  where Environment = '@{variables('var_environment')}' \n    and RefreshType = '@{pipeline().parameters.par_process_type}'\n\tand Enabled = 1",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_AzureSQL_Connect",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each PBI dataset",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "List of PBI datasets to refresh",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('List of PBI datasets to refresh').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "pl_04_report_pbi_refresh",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_04_report_pbi_refresh",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"workspaceGuid": {
										"value": "@item().WorkspaceGUID",
										"type": "Expression"
									},
									"datasetGuid": {
										"value": "@item().DatasetGUID",
										"type": "Expression"
									},
									"Environment": {
										"value": "@item().Environment",
										"type": "Expression"
									},
									"RefreshType": {
										"value": "@item().RefreshType",
										"type": "Expression"
									},
									"DatasetDescription": {
										"value": "@item().DatasetDescription",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"par_process_type": {
				"type": "string",
				"defaultValue": "daily"
			}
		},
		"variables": {
			"var_environment": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Data Reporting"
		},
		"annotations": []
	}
}